Language: Cpp
BasedOnStyle: Google
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

ColumnLimit: 100

BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1

SortIncludes: true
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None
CompactNamespaces: false

AccessModifierOffset: -2

ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment

BreakStringLiterals: false
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyReturnTypeOnItsOwnLine: 200
